.column {
  float: left;
  width: 350px;

}

.before {
    color: red;
    margin: 10px;
    border: 5px solid red;
    box-sizing: border-box;
    background: linear-gradient(#b0a7a7, #d206061c);
}

.during {
    color: green;
    margin: 10px;
    border: 5px dashed green;
    box-sizing: border-box;
    background: linear-gradient(red, blue);
}

.after {
    color: blue;
    margin: 10px;
    border: 5px dotted blue;
    box-sizing: border-box;
    background: linear-gradient(white, blue);
}